.header{
    padding: 10px;
}

.navbar{
    text-align: center;
    padding: 10px;
    height: 45px;
}

.navbar > *{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

.navegacion{
    padding: 10px;
}
.navegacion ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.navegacion ul li{
    display: inline;
    padding: 0 25px;
}

.navegacion ul li a{
    text-decoration: none;
    color: #025157;
    font-size: 16px;
    font-family: sans-serif;
}

.actions a{
    color: #67b54b;
    font-size: 14px;
    font-family: sans-serif;
    margin: 0 10px;
}

.actions button{
    color: white;
    background-color:  #67b54b;
    padding: 12px 14px;
    margin: 0 10px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-family: sans-serif;
}
